* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
.container{
  width: 100%;
  padding: 50px;
}
.gallery{
  display: grid;
  gap: 40px;
  grid-template-columns: repeat(3,1fr);
}
.gallery img{
  width: 100%;
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
  transition: 1s;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
.gallery img:hover{
  filter: grayscale(0);
  -webkit-filter: grayscale(0);
  transform: scale(1.1) rotate(360deg);
  -webkit-transform: scale(1.1) rotate(360deg);
  -moz-transform: scale(1.1) rotate(360deg);
  -ms-transform: scale(1.1) rotate(360deg);
  -o-transform: scale(1.1) rotate(360deg);
}